In [1]:
from keras.models import Sequential
from keras.layers import Dense

C:\Users\Fauzan Ramadhan\Anaconda3\lib\site-packages\h5py\__init__.py:36: FutureWarning: Conversion of the second argument of issubdtype from `float` to `np.floating` is deprecated. In future, it will be treated as `np.float64 == np.dtype(float).type`.
  from ._conv import register_converters as _register_converters
Using TensorFlow backend.

In [2]:
import pandas as pd

In [49]:
std = pd.read_csv('StudentsPerformance.csv')
std.tail()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [50]:
std = std.rename(columns={"race/ethnicity":"group","parental level of education":"education","test preparation course":"course_completation","math score":"math_score","reading score":"reading_score","writing score":"writing_score"})
std.head()

,gender,group,education,lunch,course_completation,math_score,reading_score,writing_score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [51]:
std.drop(['lunch', 'education', 'course_completation', 'group', 'reading_score', 'writing_score'], axis=1, inplace=True)

In [52]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
std['gender'] = label_encoder.fit_transform(std['gender'])

In [53]:
std.head()
std['gender'].unique()

array([0, 1], dtype=int64)

In [54]:
X = std['math_score']
y = std['gender']

In [70]:
model = Sequential()
model.add(Dense(50, input_dim=1, activation='relu'))
model.add(Dense(25, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

In [71]:
model.compile(loss='binary_crossentropy',
              optimizer='adam',
              metrics=['accuracy'])

In [72]:
model.fit(X, y, epochs=30, batch_size=10)

Epoch 1/30
1000/1000 [==============================] - 3s 3ms/step - loss: 0.9000 - acc: 0.4710
Epoch 2/30
1000/1000 [==============================] - 1s 666us/step - loss: 0.7156 - acc: 0.4610
Epoch 3/30
1000/1000 [==============================] - 1s 587us/step - loss: 0.7142 - acc: 0.4850
Epoch 4/30
1000/1000 [==============================] - 1s 516us/step - loss: 0.7213 - acc: 0.4890
Epoch 5/30
1000/1000 [==============================] - 0s 493us/step - loss: 0.7213 - acc: 0.5070
Epoch 6/30
1000/1000 [==============================] - 1s 538us/step - loss: 0.7104 - acc: 0.5020
Epoch 7/30
1000/1000 [==============================] - 0s 478us/step - loss: 0.6997 - acc: 0.5320
Epoch 8/30
1000/1000 [==============================] - 0s 476us/step - loss: 0.7177 - acc: 0.5140
Epoch 9/30
1000/1000 [==============================] - 1s 692us/step - loss: 0.7166 - acc: 0.5070
Epoch 10/30
1000/1000 [==============================] - 0s 497us/step - loss: 0.7046 - acc: 0.5280
Epoch 11/30
1000/1000 [==============================] - 1s 537us/step - loss: 0.7026 - acc: 0.5210
Epoch 12/30
1000/1000 [==============================] - 1s 1ms/step - loss: 0.7097 - acc: 0.5160
Epoch 13/30
1000/1000 [==============================] - 1s 628us/step - loss: 0.6988 - acc: 0.5310
Epoch 14/30
1000/1000 [==============================] - 1s 986us/step - loss: 0.7148 - acc: 0.5050
Epoch 15/30
1000/1000 [==============================] - 1s 1ms/step - loss: 0.7114 - acc: 0.5220
Epoch 16/30
1000/1000 [==============================] - 1s 877us/step - loss: 0.7019 - acc: 0.5550
Epoch 17/30
1000/1000 [==============================] - 2s 2ms/step - loss: 0.6996 - acc: 0.5120
Epoch 18/30
1000/1000 [==============================] - 1s 649us/step - loss: 0.6994 - acc: 0.5190
Epoch 19/30
1000/1000 [==============================] - 1s 648us/step - loss: 0.6989 - acc: 0.5180
Epoch 20/30
1000/1000 [==============================] - 1s 906us/step - loss: 0.6982 - acc: 0.5160
Epoch 21/30
1000/1000 [==============================] - 1s 791us/step - loss: 0.6976 - acc: 0.5120
Epoch 22/30
1000/1000 [==============================] - 1s 711us/step - loss: 0.6968 - acc: 0.5530
Epoch 23/30
1000/1000 [==============================] - 1s 930us/step - loss: 0.7066 - acc: 0.5350
Epoch 24/30
1000/1000 [==============================] - 1s 899us/step - loss: 0.6880 - acc: 0.5460 0s - loss: 0.6819
Epoch 25/30
1000/1000 [==============================] - 1s 970us/step - loss: 0.7020 - acc: 0.5110 0s - loss: 0.7042 - acc: 0.4
Epoch 26/30
1000/1000 [==============================] - 1s 943us/step - loss: 0.6868 - acc: 0.5560
Epoch 27/30
1000/1000 [==============================] - 1s 868us/step - loss: 0.6865 - acc: 0.5500
Epoch 28/30
1000/1000 [==============================] - 1s 909us/step - loss: 0.7073 - acc: 0.5070 0s - loss: 0.7174 - ac
Epoch 29/30
1000/1000 [==============================] - 1s 925us/step - loss: 0.7091 - acc: 0.5330
Epoch 30/30
1000/1000 [==============================] - 1s 909us/step - loss: 0.6910 - acc: 0.5400

In [73]:
_, accuracy = model.evaluate(X, y)
print('Accuracy: %.2f' % (accuracy*100))

1000/1000 [==============================] - 1s 521us/step
Accuracy: 54.90